
/* ===== MAIN.CSS goes here ===== */

body{
    background-color: black;
    color: rgba(255,255,255,0.8);
}

#landing{
    height: 500px;
    background-image: url('../../assets/images/mountains-4420690_1280.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}

#mainText{
    margin-top: 100px;
}

#intro{
    margin-top: 50px;
}

#work{
    background-color: rgb(105, 105, 105);
    color: rgba(255,255,255,0.8);
}

#p1{
    background-color: rgba(255, 255, 255, 0,25);
    height: 350px;
}

#projheader{

}
#h7{
    text-align: right;
}

#parallax-container{
    height: 100vh;
    background-image: url('../../assets/images/poppy-4243860_1920.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;  
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 640px) {
    .nav-resp {
        width: 100%;
        text-align: center;
    }

    #logo {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 980px) {}